<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Star</key>
	<dict>
		<key>Blue</key>
		<string>Star_Blue.png</string>
		<key>Green</key>
		<string>Star_Green.png</string>
		<key>Orange</key>
		<string>Star_Orange.png</string>
		<key>Pink</key>
		<string>Star_Pink.png</string>
		<key>Purple</key>
		<string>Star_Purple.png</string>
		<key>Red</key>
		<string>Star_Red.png</string>
		<key>White</key>
		<string>Star_White.png</string>
		<key>Yellow</key>
		<string>Star_Yellow.png</string>
		<key>Outline</key>
		<string>OUTLINE_star.png</string>
	</dict>
	<key>Triangle</key>
	<dict>
		<key>Blue</key>
		<string>Triangle_Blue.png</string>
		<key>Green</key>
		<string>Triangle_Green.png</string>
		<key>Orange</key>
		<string>Triangle_Orange.png</string>
		<key>Pink</key>
		<string>Triangle_Pink.png</string>
		<key>Purple</key>
		<string>Triangle_Purple.png</string>
		<key>Red</key>
		<string>Triangle_Red.png</string>
		<key>White</key>
		<string>Triangle_White.png</string>
		<key>Yellow</key>
		<string>Triangle_Yellow.png</string>
		<key>Outline</key>
		<string>OUTLINE_triangle.png</string>
	</dict>
	<key>Trapezoid</key>
	<dict>
		<key>Blue</key>
		<string>Trapezoid_Blue.png</string>
		<key>Green</key>
		<string>Trapezoid_Green.png</string>
		<key>Orange</key>
		<string>Trapezoid_Orange.png</string>
		<key>Pink</key>
		<string>Trapezoid_Pink.png</string>
		<key>Purple</key>
		<string>Trapezoid_Purple.png</string>
		<key>Red</key>
		<string>Trapezoid_Red.png</string>
		<key>White</key>
		<string>Trapezoid_White.png</string>
		<key>Yellow</key>
		<string>Trapezoid_Yellow.png</string>
		<key>Outline</key>
		<string>OUTLINE_trapezoid.png</string>
	</dict>
	<key>Square</key>
	<dict>
		<key>Blue</key>
		<string>Square_Blue.png</string>
		<key>Green</key>
		<string>Square_Green.png</string>
		<key>Orange</key>
		<string>Square_Orange.png</string>
		<key>Pink</key>
		<string>Square_Pink.png</string>
		<key>Purple</key>
		<string>Square_Purple.png</string>
		<key>Red</key>
		<string>Square_Red.png</string>
		<key>White</key>
		<string>Square_White.png</string>
		<key>Yellow</key>
		<string>Square_Yellow.png</string>
		<key>Outline</key>
		<string>OUTLINE_square.png</string>
	</dict>
	<key>Rectangle</key>
	<dict>
		<key>Blue</key>
		<string>Rectangle_Blue.png</string>
		<key>Green</key>
		<string>Rectangle_Green.png</string>
		<key>Orange</key>
		<string>Rectangle_Orange.png</string>
		<key>Pink</key>
		<string>Rectangle_Pink.png</string>
		<key>Purple</key>
		<string>Rectangle_Purple.png</string>
		<key>Red</key>
		<string>Rectangle_Red.png</string>
		<key>White</key>
		<string>Rectangle_White.png</string>
		<key>Yellow</key>
		<string>Rectangle_Yellow.png</string>
		<key>Outline</key>
		<string>OUTLINE_rectangle.png</string>
	</dict>
	<key>Pentagon</key>
	<dict>
		<key>Blue</key>
		<string>Pentagon_Blue.png</string>
		<key>Green</key>
		<string>Pentagon_Green.png</string>
		<key>Orange</key>
		<string>Pentagon_Orange.png</string>
		<key>Pink</key>
		<string>Pentagon_Pink.png</string>
		<key>Purple</key>
		<string>Pentagon_Purple.png</string>
		<key>Red</key>
		<string>Pentagon_Red.png</string>
		<key>White</key>
		<string>Pentagon_White.png</string>
		<key>Yellow</key>
		<string>Pentagon_Yellow.png</string>
		<key>Outline</key>
		<string>OUTLINE_pentagon.png</string>
	</dict>
	<key>Oval</key>
	<dict>
		<key>Blue</key>
		<string>Oval_Blue.png</string>
		<key>Green</key>
		<string>Oval_Green.png</string>
		<key>Orange</key>
		<string>Oval_Orange.png</string>
		<key>Pink</key>
		<string>Oval_Pink.png</string>
		<key>Purple</key>
		<string>Oval_Purple.png</string>
		<key>Red</key>
		<string>Oval_Red.png</string>
		<key>White</key>
		<string>Oval_White.png</string>
		<key>Yellow</key>
		<string>Oval_Yellow.png</string>
		<key>Outline</key>
		<string>OUTLINE_oval.png</string>
	</dict>
	<key>Circle</key>
	<dict>
		<key>Blue</key>
		<string>Circle_Blue.png</string>
		<key>Green</key>
		<string>Circle_Green.png</string>
		<key>Orange</key>
		<string>Circle_Orange.png</string>
		<key>Pink</key>
		<string>Circle_Pink.png</string>
		<key>Purple</key>
		<string>Circle_Purple.png</string>
		<key>Red</key>
		<string>Circle_Red.png</string>
		<key>White</key>
		<string>Circle_White.png</string>
		<key>Yellow</key>
		<string>Circle_Yellow.png</string>
		<key>Outline</key>
		<string>OUTLINE_circle.png</string>
	</dict>
	<key>Diamond</key>
	<dict>
		<key>Blue</key>
		<string>Diamond_Blue.png</string>
		<key>Green</key>
		<string>Diamond_Green.png</string>
		<key>Orange</key>
		<string>Diamond_Orange.png</string>
		<key>Pink</key>
		<string>Diamond_Pink.png</string>
		<key>Purple</key>
		<string>Diamond_Purple.png</string>
		<key>Red</key>
		<string>Diamond_Red.png</string>
		<key>White</key>
		<string>Diamond_White.png</string>
		<key>Yellow</key>
		<string>Diamond_Yellow.png</string>
		<key>Outline</key>
		<string>OUTLINE_diamond.png</string>
	</dict>
</dict>
</plist>
